:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-background-color:#E5E5E5;
}


.page{
background-color: #E5E5E5;
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
}

.h1,h2,h3,h4,h5,h6{
    font-family: Roboto, sans-serif;
    color: #212121;
}


.logo{
    color: var(--accent-color) ;
    font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    line-height: 1,19px;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    /*margin-top: 24px;*/
    display: inline-flex;
    
}

.logo-footer {
    color: white;
    
}

/*.logo:hover{???}*/

.accent{
color: black;
}
ul{
    list-style: none ;
}
/* .list{list-style: none ;} для отдельных элементов*/


/*.site-nav*/
.site-nav-list {
    display: inline-flex;
    /*margin-top: 32px;*/
    align-items: center;

}

.site-nav-list a{
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /*line-height: 1,14px;*/
    text-decoration: none;
    letter-spacing: 0.02em;
    margin-right:50px;
}

.site-nav-list .a:hover, 
.site-nav-list .a:focus{
    color: var(--accent-color);
}

.site-nav-list .a .current{
    color:var(--accent-color);

}

.site-nav-list-address {
    display: flex;
}

.site-nav-list-address .item+ .item{
    margin-left: 50px;
}

.item{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}


.site-nav-list-address a{
    color: #757575;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14px;
    text-decoration: none;
}

.site-nav-list-address .a:hover, 
.site-nav-list-address .a:focus{
    color: var(--accent-color);
}

.site-nav-list-address .a .current{
    color:var(--accent-color);
}

.site-nav .item:last-child{
    margin-right: 0;
}

.main-nav{
     display: inline-flex;
     align-items: center;
     /*margin-top: 32px;
     margin-bottom: 32px;*/
}

.color-page{
    color: #2196F3;
}

.section-title{
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,7px;
    letter-spacing: 0.03em;
    margin-bottom:50px;
    margin-top: 94px;
    text-align: center;
   /* justify-content: space-between;*/
 
}

.section-paragraph{
color:var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
margin-top: 30px;
margin-bottom: 20px;
}

.paragraph{
font-weight: 400;
font-size: 14px;
line-height: 1,7px;
margin-top: 4px;
margin-bottom: 94px;
flex-wrap: wrap;
width: 270px;
text-align: left;
/*align-items: center;
text-emphasis: center;*/
}

.heading{
    display: inline-flex;
    /*margin-bottom: 10 px;
    margin-top: 94px;*/
 text-align: left;
    flex-wrap: wrap ;
    font-size: 14px;
    width: calc(100%:90)/4);
}

.hero {
background-color: #2F303A;
margin-top: 0;
margin-bottom: 30px;
}

.hero-name{
    color: #FFFFFF;
}

.hero-title{
    color:var(--title-text-color);
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36px;
    text-align: center;
}
 
/*style*/
  .center { 
    text-align: center;
}

/*buttun*/
.button{
    color: var(--accent-color);
    font-family: inherit;
    background-color: #E5E5E5;
    font-size: 16px;
    line-height: 1,8px;
    font-weight: 700;
    text-decoration: none;
    /*padding: 12px 24px;*/
    display: inline-block;
    border: 1px solid black;
}

.button-primary {
    background-color: var(--accent-color);
    color: #E5E5E5;
    border-color: transparent;
    display: inline-block;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
}

/*.button-secondary{
    background-color: #F5F4FA;
    color: #212121;
    border-color: transparent;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
}*/

.link:hover,
.link:focus {
    background-color: var(--accent-color);
}
/*.button-secondary .a .current{
    color:white;
}*/

.btn-center{
    margin-left: 280px;
    margin-top: 94px;
}

.btn {
webkit-appearance: none;
moz-appearance: none;
appearance: none;
border: 0;
border-radius: 0;
/*background: #ccc;*/
border-radius: 4px;
background: #F5F4FA;
color: #212121;
/*padding: 8px 16px;*/
font-size: 16px;
font-family: Roboto, sans-serif;
font-weight: 500;
display: inline-block;
min-width: 73px;
padding: 6px 22px;
text-align: center;
  }

.btn:hover,
.btn:focus {
 /* border-color: currentColor;*/
  background-color: var(--accent-color);
  color: #ffffff;
 border-color: transparent;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration-color: #FFFFFF;
}

/*.btn:active{
    transform: translateY(1px);
    filter: saturate(150%);
}*/

.footer-background {
    background-color: #2F303A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto;
    letter-spacing: 0.02em; 
    /*margin-top: 30px;
    margin-bottom: 9px;*/
}


.fbc{
    width: 1230px;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: 9px;
    padding-top: 60px;
    line-height: 1.5;
    padding-right: auto;
    padding-left: auto;
}


.footer-text-color{
    color: #FFFFFF;
}

.footer-text-color-address{
   color:hsla(0, 0%, 60%, 1)
}



html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container{
    width: 1170px;
    margin: 0 auto;
    /*padding-top: 24px;*/
    padding-right: 15px;
    padding-left: 15px;
    /*border-block-color: var(--accent-color);*/
    /*display: inline-flex;*/
}


/*.images{
    display: block;
    max-width: 100%;
    height: auto;
}*/

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: inherit;
    text-decoration: none;
}

/*.menu{
    display: inline-flex;
}
*/
/*.menu-item:not(:last-child){
    margin-right: 1078px;
}*/

/*.page-header{
display: flex;
align-items: center;
}*/

.flex-container {
    /*width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;*/
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: -15px;
}

.flex-element{
width: calc(100%:60)/3);
/*margin:o auto;*/
padding-top: 50px;
}
 /*  margin-bottom: 30px;
}
/*
.flex-element:nth-child(3n){
    margin-right: 0;
}*/
/*
.flex-element:nth-last-child(-n+3){
margin-bottom: 0;
}*/

.portfolio-item:nth-child(3n){
    margin-right: 0;
}

.flex-section{
    display: flex;
    /*width: 370px;*/
    width: calc(100%-60)/3);
    justify-content: space-between;
    margin:center;
    
}

.section{
    display: flex;
    width: calc(100%:90)/4);
    justify-content: space-between;
}

/*.work-section{
    margin-top: 50px;
    width: 33,3333%;
}*/

.text-clas {
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 600px;
    background-color: #2F303A;
    ;
}

.footer-container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 252px;
    background-color: #2F303A;
}


.line-container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    outline: 1px solid #ECECEC ;
